<%- include("../partials/header")%>
<main class = "container">
	<section class = "row">
		<h1 style = "text-align:center">User Profile</h1>
		<div style = "width: 60%; margin: 15px auto;">
			
			<form method="POST" action = "/profile/<%=currentUser._id%>?_method=PUT">
				<div class = "form-group">
					<label for = "username">Display Name</label>
					<input value = "<%=currentUser.username%>" name = "user[username]" class = "form-control" id = "username" type = "text" placeholder = "User Name" required>
				</div>
				<div class = "form-group">
					<label for = "email">Email Address</label>
					<input id = "email" disabled class = "form-control" name = "user[email]" type = "email" placeholder = "Email Address" value = "<%=currentUser.email%>">
				</div>
				<div class = "form-group">
					<input class = "btn btn-lg btn-default btn-block btn-primary" type = "submit" value = "Update">
				</div>				
			</form>	
		</div>
	</section>
	<% if (songs){%>
	<section>		
		<h3 style = "text-align:left">Downloads</h3>
		<div class = "container">	
			<hr>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Song Name</th>
						<th>&nbsp;</th>
						<th>Genre</th>
						<th>BPM</th>
						<th>Duration</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<% 
					let x = 0;
					let y = 1;
					songs.forEach(function(song){ %>
					<tr>
						<td><a href = "/song/<%= song._id %>"><%= song.name%></a></td>
						<td>
							<div class = "mixbuttons" id = "<%= song.fileUrl%>">
								<button class = "play"  name = "<%= x %>"><span class = "glyphicon glyphicon-play"></span></button>
								<button class = "pause"  name = "<%= x %>"><span class = "glyphicon glyphicon-pause"></span></button>
								<button class = "stop"  name = "<%= x %>"><span class = "glyphicon glyphicon-stop"></span></button>	
							</div>
						</td>
						<td><%= song.genre%></td>
						<td><%= song.bpm%></td>
						<td><%= song.length%></td>	
						<td><a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseMixes<%=x%>" aria-expanded="false" aria-controls="collapseExample">
  Mixes
							</a></td>
						
					</tr>
					<% if(song.mixes){%>
					<tr>
						<td colspan = "6">							
							<div class="collapse" id="collapseMixes<%=x%>">
								<div class = "well">	

									<% x++;
										song.mixes.forEach(function(mix){%>
									<div class = "row" id = "/song/<%=song._id%>/mixes/<%=mix._id%>">				
										<div class = "col-md-12">
											<div class = "thumbnail">					
												<div class = "mixButtonsDesc">

														<%= mix.name%>

													<form  class = "pull-right" id = "download-form" action = "/song/<%= song._id %>/mixes/<%=mix._id%>/downloads" method = "POST">							

													</form>
													<div class = "mixbuttons" id = "<%= mix.fileUrl%>">
														<button class = "play"  name = "<%= x %>"><span class = "glyphicon glyphicon-play"></span></button>
														<button class = "pause"  name = "<%= x %>"><span class = "glyphicon glyphicon-pause"></span></button>
														<button class = "stop"  name = "<%= x %>"><span class = "glyphicon glyphicon-stop"></span></button>	
													</div>

													<!--<p><%= mix.description %></p>-->							


												</div>
											</div>
										</div>		
									</div>		
						<% x++}) %>	 
								</div>	
							</div>
						</td>
					</tr>
					<%}else{%>
					<tr>
						<td colspan = "5" class = "text-center">No mixes downloaded..</td>
					</tr>	
					x++;	
					<%}
					 }); %>
				</tbody>

			</table>
			<hr>
			
		</div>
	 </section>
	<% x++;}%>
</main>
<script type="text/javascript" src = "/js/scripts.js"></script>
<%- include("../partials/footer")%>