<%- include("../partials/header")%>
<div class = "container">
	<div class = "row">
		<h1 style = "text-align:center">Editing <%=mix.name%></h1>
		<div style = "width: 30%; margin: 25px auto;">			
			<form method = "POST" action = "/song/<%=song_id%>/mixes/<%=mix._id%>?_method=PUT">
				<div class = "form-group">
					<label for = "mix[name]">Mix Name</label>
					<input class = "form-control" name = "mix[name]" id = "mix[name]" type = "text" value = "<%=mix.name%>" required>
				</div>							
				<!--<div class = "form-group">
					<label for = "mix[description]">Mix Description</label>
					<input type = "text" class = "form-control" value = "<%=mix.description%>" id = "mix[description]" name = "mix[description]">
				</div>-->
				<div class = "form-group">
					<input class = "btn btn-lg btn-default btn-block btn-primary" type = "submit" value = "Update">
				</div>				
			</form>									
	</div>		
</div>
<%- include("../partials/footer")%>