<%- include("../partials/header")%>
<div class = "container">
	<div class = "row">
		<h1 style = "text-align:center">Adding mixes to <%=song.name%></h1>
		<div style = "width: 30%; margin: 25px auto;">			
			<form method = "POST" action = "/songs/<%=song._id%>/mixes" enctype="multipart/form-data">
				<div class = "form-group">
					<input class = "form-control" name = "name" type = "text" placeholder = "Mix Name" required>
				</div>				
				<div class = "form-group">
					<input type="file" name="filetoupload" required>
				</div>				
				<div class = "form-group">
					<input type = "text" class = "form-control" placeholder = "Description" name = "description" required>
				</div>
				<div class = "form-group">
					<input class = "btn btn-lg btn-default btn-block btn-primary" type = "submit">
				</div>				
			</form>			
			<a href = "/songs/<%=song._id%>">Done Adding Mixes</a></div>			
	</div>		
</div>
<%- include("../partials/footer")%>