<%- include ("../partials/header") %>	
<main class = "container">
	<header class = "jumbotron">
		
			<h1>Welcome to ANJAM!</h1>	
			<p>Your one stop for all your music library needs</p>			
			<%	if(isAdmin === true){%><p><a href = "/song/new" class = "btn btn-primary btn-lg">Add new Song</a></p><%}%>
			<article>
				<form action = "/songs/1" method="GET" class = "form-inline">
					<div class = "form-group">
						<input type = "text" name = "search" placeholder = "Search by genre.." class = "form-control" required>
						<input type = "submit" value = "Search" class = "btn btn-default">
					</div>
				</form>
			</article>
			
	</header>
	
	<section>
		<span class = "pull-right"> - <span><%= numSongs %></span> results</span>
		<span class = "pageno pull-right">Page<span><%= currPage %></span>of <span><%= pages %></span></span>
		<% 	
			if(songs)
			{	let x = 0;
				songs.forEach(function(song){ %>
				<article class="col-md-12 thumbnail caption-full">
									<section class="row container-fluid">									
											<article class = "mixbuttons" id = "<%= song.fileUrl%>">											
												<h4><%= song.name %></h4>											
												<button class = "play"  name = "<%= x %>"><span class = "glyphicon glyphicon-play"></span></button>
												<button class = "pause"  name = "<%= x %>"><span class = "glyphicon glyphicon-pause"></span></button>
												<button class = "stop"  name = "<%= x %>"><span class = "glyphicon glyphicon-stop"></span></button>	
												<span class = "pull-right">
													BPM: <%=song.bpm%>
												</span>

												<p class = "songdata text-left">Genre : <%=song.genre%><br>
													Subgenre : <%=song.subgenre%>
												</p>
													<a href = "/song/<%= song._id%>" class = "btn btn-primary">More Info</a>
													<% if(isAdmin || (currentUser && song.author.id.equals(currentUser._id))){%>
														<a href = "/song/<%= song._id %>/edit" class = "btn btn-warning">Edit</a>
														<form id = "delete-form"  class = "pull-right" action = "/song/<%= song._id %>?_method=DELETE" method = "POST">
															<button class = "btn btn-danger">							
															Delete
														</button>
														</form>							
													<%} %>
											</article>									
									</section>				
				</article>	
			<% x++});
			}else{%>
				<h3 class ="text-center">No songs found..</h3>
			<%}
		
		%>	
		<div class="pagination">
		<% if (currPage == 1 && pages > 1) { %> 
		<a href="/songs/<%= parseInt(currPage) + 1 %>/?search=<%=searchVal%>"> 
			Page <%=  parseInt(currPage) + 1 %>
			 <span class = "glyphicon glyphicon-arrow-right">
			</span>
		</a>
		<% } else if (currPage < pages) { %>
		<a href="/songs/<%= parseInt(currPage) - 1 %>/?search<%=searchVal%>">
			<span class = "glyphicon glyphicon-arrow-left">				
			</span>
			Page <%= parseInt(currPage) - 1 %>
		</a>
		<a href="/songs/<%= parseInt(currPage) + 1 %>/?search<%=searchVal%>">
			Page <%= parseInt(currPage) + 1 %>
			<span class = "glyphicon glyphicon-arrow-right">
			</span>
		</a>
		<% } else if (currPage == pages && pages > 1) { %>
		<a href="/songs/<%= parseInt(currPage) - 1 %>/?search<%=searchVal%>">
			<span class = "glyphicon glyphicon-arrow-left">				
			</span>
			Page <%=parseInt(currPage) - 1 %>
		</a>
	<% } %>
</div>
	</section>		
</main>
<script type="text/javascript" src = "/js/scripts.js"></script>
<script type="text/javascript" src = "/js/js.js"></script>

<%- include ("../partials/footer") %>