<%- include ("../partials/header") %>	

	<header class = "header">
		
			<h2><i>WELCOME TO</i><br>
		
		
			<strong>ANJAM</strong>
		</h2>
			<p class='tag-line'>Premium African Music</p>			
			<%	if(isAdmin === true){%><p><a href = "/song/new" class = "btn btn-primary btn-xs">Add new Song</a> <a href = "/collections" class = "btn btn-primary btn-xs">View Collections</a> <a href = "/users" class = "btn btn-primary btn-xs">Manage Users</a></p><%}%>
			<article>
				<form action = "/songs/1" method="GET" class = "form-inline">
					<div class = "form-group">
						<input type = "text" name = "search" placeholder = "Search..." class = "form-control" required>
						<input type = "submit" value = "Search" class = "btn btn-default">
					</div>
				</form>
			</article>
			
	</header>
<main class = "container">
	
	<section>
		<span>
			<span class = "pull-right"> - <%= numSongs %> results</span>		
			<span class = "pageno pull-left"><%= searchTags ? 'Searched tags: ' + searchTags : ''%></span><span class = "pageno pull-right">Page <span><%= currPage %></span> of <span><%= pages %>&nbsp;-</span></span>
		</span>
		<% 	
			if(songs)
			{	let x = 0;
				songs.forEach(function(song){ %>
				<article class="col-md-12 thumbnail caption-full">
									<section class="row container-fluid sngRow">									
											<article class = "mixbuttons">											
												<div><a class = "sngTitleMain" href = "/song/<%= song._id%>"><%= song.name %></a></div>
												
													
												<span class = "pull-right">
													<%=song.genre%> | <%=song.subgenre%> | <%=song.bpm%> BPM
												</span>
												<!--<audio id="player_<%=x%>" class = "player" src="<%= song.fileUrl%>"></audio>-->
												<audio id="player_<%=x%>" class = "player" src="https://res.cloudinary.com/dxomkhcaw/video/upload/v1633899708/Anjam/pjgaixy853kygypgf4l1.mp3"></audio>
												<button class = "play"  name = "<%=x%>"><span class = "glyphicon glyphicon-play sngBtns"></span></button>
												<button class = "pause"  name = "<%=x%>"><span class = "glyphicon glyphicon-pause sngBtns"></span></button>	
												<button class = "stop"  name = "<%=x%>"><span class = "glyphicon glyphicon-stop sngBtns"></span></button>

												<progress class = "progressbar" id ="seekbar_<%=x%>" name ="<%=x%>" value="0" max="1" style="width:99%;"></progress>	
												<div id="waveform_<%=x%>"></div>
												
												
												<div>
													<!--a href = "/song/<%= song._id%>" class = "btn btn-primary">More Info</a>-->
												
												<% if(isAdmin || (currentUser && song.author.id.equals(currentUser._id))){%>
													<a href = "/song/<%= song._id %>/edit" class = "btn btn-warning spacer">Edit</a>
													<form id = "delete-form"  class = "pull-right spacer" action = "/song/<%= song._id %>?_method=DELETE" method = "POST">
														<button class = "btn btn-danger">							
															Delete
														</button>
													</form>	
													<%} %>
													<% if (currentUser && currentUser.isActivated === true){%>
												<form  class = "pull-right spacer" id = "download-form" action = "/song/<%= song._id %>/downloads" method = "POST">								
															<%let sdl = "Download";										
																if(currentUser)
																{
																	let found = song.downloads.indexOf(currentUser._id);
																	if(found !== -1)
																	{
																		sdl = "Downloaded"
																	}
																}	
																	%>
															<button class = "btn btn-sm downloadBtn">
																<%=sdl%>
															</button>&nbsp;&nbsp;&nbsp;
												</form>
												<%}%>
												</div>
																				
													
											</article>									
									</section>				
				</article>	
			<% x++});
			}else{%>
				<h3 class ="text-center">No songs found..</h3>
			<%}
		
		%>	
		<div class="pagination">
		<% if (currPage == 1 && pages > 1) { %> 
		<a href="/songs/<%= parseInt(currPage) + 1 %>/?search=<%=searchVal%>"> 
			Page <%=  parseInt(currPage) + 1 %>
			 <span class = "glyphicon glyphicon-arrow-right">
			</span>
		</a>
		<% } else if (currPage < pages) { %>
		<a href="/songs/<%= parseInt(currPage) - 1 %>/?search=<%=searchVal%>">
			<span class = "glyphicon glyphicon-arrow-left">				
			</span>
			Page <%= parseInt(currPage) - 1 %>
		</a>
		<a href="/songs/<%= parseInt(currPage) + 1 %>/?search=<%=searchVal%>">
			Page <%= parseInt(currPage) + 1 %>
			<span class = "glyphicon glyphicon-arrow-right">
			</span>
		</a>
		<% } else if (currPage == pages && pages > 1) { %>
		<a href="/songs/<%= parseInt(currPage) - 1 %>/?search=<%=searchVal%>">
			<span class = "glyphicon glyphicon-arrow-left">				
			</span>
			Page <%=parseInt(currPage) - 1 %>
		</a>
	<% } %>
</div>
	</section>		
</main>
<script type="text/javascript" src = "/js/player.js"></script>
<script type="text/javascript" src = "/js/js.js"></script>
<script src="https://unpkg.com/wavesurfer.js"></script>

<%- include ("../partials/footer") %>