<%- include ("../partials/header") %>	
<main class = "container">
	<header class = "jumbotron">
		
			<h1>Welcome to ANJAM!</h1>	
			<p>Your one stop for all your music library needs</p>			
			<%	if(isAdmin === true){%><p><a href = "/songs/new" class = "btn btn-primary btn-lg">Add new Song</a></p><%}%>
			<article>
				<form action = "/songs" method="GET" class = "form-inline">
					<div class = "form-group">
						<input type = "text" name = "search" placeholder = "Search...." class = "form-control">
						<input type = "submit" value = "Search" class = "btn btn-default">
					</div>
				</form>
			</article>
			
	</header>
	
	<section>
		
		<% 	let x = 0;
			songs.forEach(function(song){ %>
			<article class="col-md-12 thumbnail caption-full">
								<section class="row container-fluid">									
										<article class = "mixbuttons" id = "<%= song.fileUrl%>">											
											<h4><%= song.name %></h4>											
											<button class = "play"  name = "<%= x %>"><span class = "glyphicon glyphicon-play"></span></button>
											<button class = "pause"  name = "<%= x %>"><span class = "glyphicon glyphicon-pause"></span></button>
											<button class = "stop"  name = "<%= x %>"><span class = "glyphicon glyphicon-stop"></span></button>	
											<p>Genre : <%=song.genre%><br>
												Subgenre : <%=song.subgenre%>
											</p>
												<a href = "/songs/<%= song._id%>" class = "btn btn-primary">More Info</a>
												<% if(isAdmin || (currentUser && song.author.id.equals(currentUser._id))){%>
													<a href = "/songs/<%= song._id %>/edit" class = "btn btn-warning">Edit</a>
													<form id = "delete-form"  class = "pull-right" action = "/songs/<%= song._id %>?_method=DELETE" method = "POST">
														<button class = "btn btn-danger">							
														Delete
													</button>
													</form>							
												<%} %>											
										</article>																	
								</section>				
			</article>	
		<% x++});%>	
		
	</section>		
</main>
<script type="text/javascript" src = "/js/scripts.js"></script>
<script type="text/javascript" src = "/js/js.js"></script>

<%- include ("../partials/footer") %>